{% block content %}

<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ idea.title }}</h5>
            <p class="card-text">{{ idea.description|truncatewords:20 }}</p>
            {% if idea.user_profile.entrepreneur_tier == 'premium' %}
                <p class="card border border-warning bg-warning p-2 d-inline-block">Premium</p>
            {% endif %}
            <a href="{% url 'ideas:idea' idea.id %}" class="btn btn-primary p-2 d-inline-block">Saiba Mais</a>
        </div>
    </div>
</div>

{% endblock %}