{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Criar Ideia{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2>Criar Nova Ideia</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'accounts:profile' %}">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            {{ form.title.errors }}
                            <label for="id_title">Título da Ideia</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group mb-4">
                            {{ form.description.errors }}
                            <label for="id_description" class="font-weight-bold">Descrição</label>
                            <div>{{ form.description }}</div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="id_investment_value">Valor Investido</label>
                            {{ form.investment_value }} Reais
                        </div>
                        <div class="form-group mb-5">
                            {{ form.elapsed_time.errors }}
                            <label for="id_elapsed_time">Tempo de Retorno (meses)</label>
                            {{ form.elapsed_time }}
                        </div>
                        <div class="form-group mb-5">
                            {{ form.return_on_investment.errors }}
                            <label for="id_return_on_investment">Retorno de Capital (%)</label>
                            {{ form.return_on_investment }}
                        </div>
                        <div class="form-group mb-4">
                            <button type="submit" class="btn btn-primary">Criar Ideia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}