{% extends "dashboard/base.html" %}

{% block title %}Editar Ideia{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Editar Ideia</h2>
                </div>
                <div class="card-body">
                    <form id="form-edit" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <label for="id_title" class="font-weight-bold">Título da Ideia</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="id_description" class="font-weight-bold">Descrição</label>
                            <div>{{ form.description }}</div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="id_investment_value" class="font-weight-bold">Valor Investido: R$</label>
                            {{ form.investment_value }} Reais
                        </div>
                        <div class="form-group mb-4">
                            <label for="id_elapsed_time" class="font-weight-bold">Tempo de Retorno (meses)</label>
                            {{ form.elapsed_time }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="id_return_on_investment" class="font-weight-bold">Retorno de Capital (%)</label>
                            {{ form.return_on_investment }}
                        </div>
                    </form>
                    <form id="form-delete" style="display: none;" method="post" action="{% url 'ideas:delete_idea' idea.id %}">
                        {% csrf_token %}
                    </form>
                    <div class="form-group mb-4">
                        <button style="float: left;" onclick="document.getElementById('form-delete').submit()" class="btn btn-danger">Apagar Ideia</button>
                        <button style="float: right;" onclick="document.getElementById('form-edit').submit()" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
