{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<h1>GUILLERMO NOGUEIRAAAAAA</h1>
<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{ idea.title }}</h5>
            <p class="card-text">{{ idea.description|truncatewords:20 }}</p>
            <div class="d-flex justify-content-between">
            <button onclick="history.back()" class="btn btn-primary">Voltar</button>
            {% if user.userprofile.role == 'investor' %}
                <a href="{% url 'accounts:aplicar' %}" class="btn btn-secondary">Aplicar</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}