{% extends "dashboard/base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Editar Perfil</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ user_form.as_p }}
                        </div>
                        <div class="form-group">
                            {{ user_profile_form.as_p }}
                        </div>
                        <div id="enterprise-fields" class="form-group">
                            {{ enterprise_form.as_p }}
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var roleField = document.querySelector('#id_role');
        var enterpriseFields = document.getElementById('enterprise-fields');
        var enterpriseName = document.getElementById('id_name');
        var enterpriseCNPJ = document.getElementById('id_cnpj');

        function toggleFields() {
            if (roleField.value === 'entrepreneur') {
                enterpriseFields.style.display = 'block';
                enterpriseName.required = true;
                enterpriseCNPJ.required = true;
            } else {
                enterpriseFields.style.display = 'none';
                enterpriseName.required = false;
                enterpriseCNPJ.required = false;
            }
        }

        roleField.addEventListener('change', toggleFields);
        toggleFields();
    });
</script>
{% endblock %}
