{% extends "dashboard/base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Perfil</h2>
                </div>
                <div class="card-body">
                    <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
                    <p><strong>Nome:</strong> {{ user.first_name }}</p>
                    <p><strong>Sobrenome:</strong> {{ user.last_name }}</p>
                    <p><strong>E-mail:</strong> {{ user.email }}</p>
                    <p><strong>CPF:</strong> {{ user.userprofile.cpf }}</p>
                    <div class="text-center mt-4">
                        {% if user.userprofile.role == 'Empreendedor' %}
                            <a href="{% url 'ideas:create_idea' %}" class="btn btn-primary">Criar Ideia</a>
                        {% endif %}
                        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-secondary ml-2">Editar Perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.userprofile.role == 'entrepreneur' %}
    <section id="ideias" class="py-5">
        <div class="container">
            <h2 class="text-center text-white mb-4">Ideias</h2>
            <div class="row">
                {% for idea in user_ideas %}
                    {% include "ideas/card_idea.html" %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
    <section id="propostas" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Propostas</h2>
            <div class="row">
                {% for investment in user_investments %}
                    {% include "investments/card_investment.html" %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}