{% extends "dashboard/base.html" %}

{% block title %}Create Idea{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Profile</h2>
    <p>Nome:{{ user.first_name }}</p>
    <p>Sobrenome:{{ user.last_name }}</p>
    <p>E-mail:{{ user.email }}</p>
    <p>CPF:{{ user.userprofile.cpf }}</p>
    <section id="ideias" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Ideias</h2>
            <div class="row">
                {% for idea in user_ideas %}
                    {% include "ideas/card_idea.html" %}
                {% endfor %}
            </div>
        </div>
        <h1>CREATE IDEA</h1>
        {% include "ideas/create_idea.html" %}
    </section>
</div>
{% endblock %}
