{% extends "accounts/base.html" %}

{% block title %}Create Idea{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Profile</h2>
    <p>Nome:{{ user.first_name }}</p>
    <p>Sobrenome:{{ user.last_name }}</p>
    <p>E-mail:{{ user.email }}</p>
    <p>CPF:{{ user.userprofile.cpf }}</p>
    <section id="ideias" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Ideias</h2>
            <div class="row">
                {% for idea in user_ideas %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ idea.title }}</h5>
                            <p class="card-text">{{ idea.description|truncatewords:20 }}</p>
                            <a href="{% url 'idea' idea.id %}" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
