{% extends 'dashboard/base.html' %}

{% block title %}
Registro de Usuário - Tubarãozinho
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h2>Registro de Usuário</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            {{ user_form.username.errors }}
                            Nome de usuário
                            {{ user_form.username }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_form.first_name.errors }}
                            Nome
                            {{ user_form.first_name }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_form.last_name.errors }}
                            Sobrenome
                            {{ user_form.last_name }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_profile_form.cpf.errors }}
                            CPF
                            {{ user_profile_form.cpf }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_form.email.errors }}
                            E-mail
                            {{ user_form.email }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_profile_form.role.errors }}
                            Role
                            {{ user_profile_form.role }}
                        </div>
                        <div id="entrepreneur-tier-fields" style="display: none;">
                            <div class="form-group mb-4">
                                {{ user_profile_form.entrepreneur_tier.errors }}
                                Tipo de conta
                                {{ user_profile_form.entrepreneur_tier }}
                            </div>
                        </div>
                        <div id="enterprise-fields" style="display: none;">
                            <div class="form-group mb-4">
                                {{ enterprise_form.name.errors }}
                                Nome da empresa
                                {{ enterprise_form.name }}
                            </div>
                            <div class="form-group mb-4">
                                {{ enterprise_form.cnpj.errors }}
                                CNPJ
                                {{ enterprise_form.cnpj }}
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            {{ user_form.password1.errors }}
                            Senha
                            {{ user_form.password1 }}
                        </div>
                        <div class="form-group mb-4">
                            {{ user_form.password2.errors }}
                            Confirmar senha
                            {{ user_form.password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var roleField = document.querySelector('#id_role');
        var entrepreneurTierFields = document.getElementById('entrepreneur-tier-fields');
        var enterpriseFields = document.getElementById('enterprise-fields');

        function toggleFields() {
            if (roleField.value === 'entrepreneur') {
                entrepreneurTierFields.style.display = 'block';
                enterpriseFields.style.display = 'block';
            } else {
                entrepreneurTierFields.style.display = 'none';
                enterpriseFields.style.display = 'none';
            }
        }

        roleField.addEventListener('change', toggleFields);
        toggleFields();
    });
</script>
{% endblock %}
