{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<section class="hero bg-primary text-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Conectando Ideias e Investidores</h1>
                <p class="lead">Transforme sua ideia em realidade ou invista no próximo grande negócio.</p>
                <a href="{% url 'accounts:register' %}" class="btn btn-light btn-lg">Comece Agora</a>
            </div>
            <div class="col-md-6">
                <!-- <img src="{% static 'img/hero-image.jpg' %}" alt="Hero Image" class="img-fluid rounded"> -->
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Sobre a Tubarãozinho</h2>
        <p class="lead text-center">A Tubarãozinho é uma plataforma inovadora que conecta empreendedores criativos com investidores visionários. Nossa missão é fomentar o ecossistema empreendedor, transformando ideias promissoras em negócios de sucesso.</p>
    </div>
</section>

<section id="how-it-works" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Como Funciona</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">1. Cadastre-se</h5>
                        <p class="card-text">Crie sua conta como empreendedor ou investidor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">2. Poste ou Explore</h5>
                        <p class="card-text">Compartilhe sua ideia ou descubra projetos inovadores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">3. Conecte-se</h5>
                        <p class="card-text">Interaja com investidores ou empreendedores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ideias" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Ideias em Destaque</h2>
        <div class="row">
            {% for idea in featured_ideas %}
                {% include "ideas/card_idea.html" %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}