{% extends 'dashboard/base.html' %}

{% block title %}
Registro de Usuário - Tubarãozinho
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Usuário</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ user_form.username.label_tag }}
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    {{ user_form.first_name.label_tag }}
                    {{ user_form.first_name }}
                </div>
                <div class="form-group">
                    {{ user_form.last_name.label_tag }}
                    {{ user_form.last_name }}
                </div>
                <div class="form-group">
                    {{ user_profile_form.cpf.label_tag }}
                    {{ user_profile_form.cpf }}
                </div>
                <div class="form-group">
                    {{ user_form.email.label_tag }}
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    {{ user_profile_form.role.label_tag }}
                    {{ user_profile_form.role }}
                </div>
                <div id="entrepreneur-tier-fields" style="display: none;">
                    <div class="form-group">
                        {{ user_profile_form.entrepreneur_tier.label_tag }}
                        {{ user_profile_form.entrepreneur_tier }}
                    </div>
                </div>
                <div id="enterprise-fields" style="display: none;">
                    {{ enterprise_form.as_p }}
                </div>
                <div class="form-group">
                    {{ user_form.password1.label_tag }}
                    {{ user_form.password1 }}
                </div>
                <div class="form-group">
                    {{ user_form.password2.label_tag }}
                    {{ user_form.password2 }}
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var roleField = document.querySelector('#id_role');
        var entrepreneurTierFields = document.getElementById('entrepreneur-tier-fields');
        var enterpriseFields = document.getElementById('enterprise-fields');

        function toggleFields() {
            if (roleField.value === 'entrepreneur') {
                entrepreneurTierFields.style.display = 'block';
                enterpriseFields.style.display = 'block';
            } else {
                entrepreneurTierFields.style.display = 'none';
                enterpriseFields.style.display = 'none';
            }
        }

        roleField.addEventListener('change', toggleFields);
        toggleFields();
    });
</script>
{% endblock %}
